.server{
    position:relative;
    width:350px;
    height:120px;
    border-radius:5px;
    background-color:rgb(47, 49, 51);
    margin-top:10px;
    margin-left:10px;
    overflow:hidden;
    display: inline-block;
}
.id{
    position:absolute;
    bottom:47px;
    right:5px;
    font-size:1.1rem;
}
.name{
    position:absolute;
    top:-1px;
    left:6px;
    font-size:1.6rem;
}
.status-word{
    position:relative;
    top:6px;
    font-size:1.2rem;
}
.serverinfo{
    position:absolute;
    bottom:4px;
    left:8px;
}
.statebutton{
    position:absolute;
    bottom:5px;
    right:5px;
    width:125px;
    border-radius:4px;
    height:40px;
    border-style:none;
    background-color:lightgrey;
}